# Local development
NEXT_PUBLIC_API_URL=http://localhost:8090
NEXT_PUBLIC_WS_HOST=localhost
NEXT_PUBLIC_WS_PORT=8091

# Docker deployment (docker-compose)
# NEXT_PUBLIC_API_URL=http://sovalune-core:8090
# NEXT_PUBLIC_WS_HOST=sovalune-core
# NEXT_PUBLIC_WS_PORT=8091
